<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>E-Commerce - MDBootstrap</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/stylesheets/mdb.min.css" rel="stylesheet">

    <style type="text/css">
        .multiple-select-dropdown li [type=checkbox] + label {

            height: 1rem;

        }
    </style>
    <!-- Navigation -->
</head>

<body class="category-v3 hidden-sn white-skin animated">
<% include header.ejs %>

<div class="container my-5">

    <style>
        .border-top {
            border-top: 5px solid #33b5e5 !important;
            border-top-left-radius: .25rem !important;
            border-top-right-radius: .25rem !important;
        }
    </style>

    <!--Section: Content-->
    <section class="text-center dark-grey-text mb-5">

        <div class="card">
            <div class="card-body rounded-top border-top p-5">

                <!-- Section heading -->
                <h3 class="font-weight-bold my-4">Create Restaurant</h3>
                <!-- Section description -->
                <p class="font-weight-light mx-auto mb-4 pb-2">You can input restaurant information here, and we will
                    publish it.</p>

                <form class="mb-4 mx-md-5"
                      action="/api/restaurant" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6 mb-4">

                            <!-- Name -->
                            <input type="text" name="name" class="form-control" placeholder="Restaurant Name">

                        </div>
                        <div class="col-md-6 mb-4">

                            <!-- Email -->
                            <input type="text" name="borough" class="form-control" placeholder="Borough">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <!-- Subject -->
                            <input type="text" name="street" class="form-control" placeholder="Street">
                            <input type="text" name="building" class="form-control" placeholder="Building">
                            <input type="text" name="zipcode" class="form-control" placeholder="zipcode">
                            <input type="text" name="coord" class="form-control" placeholder="coord">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group mb-4">
                                <textarea class="form-control rounded" name="cuisine" rows="3"
                                          placeholder="Cuisine"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                            <span>Choose file</span>
                                            <input type="file" name="photo" accept="image/*">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text"
                                                   placeholder="Upload the photo of the restaurant" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-md">Submit</button>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>

    </section>
    <!--Section: Content-->

</div>
<% include footer.ejs %>
<script>

</script>
</body>

</html>
