<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>E-Commerce - MDBootstrap</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/stylesheets/mdb.min.css" rel="stylesheet">

    <style type="text/css">
        .multiple-select-dropdown li [type=checkbox] + label {

            height: 1rem;

        }
    </style>
    <!-- Navigation -->
</head>

<body class="category-v3 hidden-sn white-skin animated">
<% include header.ejs %>

<div class="container my-5">

    <style>
        .border-top {
            border-top: 5px solid #33b5e5 !important;
            border-top-left-radius: .25rem !important;
            border-top-right-radius: .25rem !important;
        }
    </style>

    <!--Section: Content-->
    <section class="text-center dark-grey-text mb-5">

        <div class="card">
            <div class="card-body rounded-top border-top p-5">

                <!-- Section heading -->
                <h3 class="font-weight-bold my-4">Create Restaurant</h3>
                <!-- Section description -->
                <p class="font-weight-light mx-auto mb-4 pb-2">You can input restaurant information here, and we will
                    publish it.</p>

                <form class="mb-4 mx-md-5" id="create_restaurant_form"
                      action="/api/restaurant" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6 mb-4">

                            <!-- Name -->
                            <input type="text" name="name" class="form-control" placeholder="Restaurant Name">

                        </div>
                        <div class="col-md-6 mb-4">

                            <!-- Email -->
                            <input type="text" name="borough" class="form-control" placeholder="Borough">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <!-- Subject -->
                            <input type="text" name="street" class="form-control" placeholder="Street">
                            <input type="text" name="building" class="form-control" placeholder="Building">
                            <input type="text" name="zipcode" class="form-control" placeholder="zipcode">
                            <input type="text" name="coord" class="form-control" placeholder="coord">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group mb-4">
                                <textarea class="form-control rounded" name="cuisine" rows="3"
                                          placeholder="Cuisine"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                            <span>Choose file</span>
                                            <input type="file" name="photo" accept="image/*">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text"
                                                   placeholder="Upload the photo of the restaurant" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="button" id="create_restaurant_submit_button" onclick="create_restaurant()" class="btn btn-info btn-md">Submit</button>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>

    </section>
    <!--Section: Content-->

</div>
<% include footer.ejs %>
<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Loading</h5>
            </div>
            <div class="modal-body">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>
    function create_restaurant() {

        $('#loadingModal').modal({backdrop: 'static', keyboard: false})
        $("#create_restaurant_submit_button").prop("disabled", true);
        $("#create_restaurant_submit_button").html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
            "  Loading...")
        $("#create_restaurant_form").submit(function(e) {

            var form = $(this);
            var url = form.attr('action');
            e.preventDefault(); // avoid to execute the actual submit of the form.

            $.ajax({
                type: "POST",
                url: url,
                'contentType': false, //required
                'processData': false, // required
                'mimeType': 'multipart/form-data',
                data: new FormData($(this)[0]), // serializes the form's elements.
                success: function(data)
                {
                    window.location.href = '/restaurant/restaurant_id/'+JSON.parse(data).restaurant_id+"?success="+encodeURI("Restaurant create Successful");
                },
            }).fail(function( xhr, textStatus ) {
                alert( JSON.parse( xhr.responseText +"").status );
            }).done(function () {
                $('#loadingModal').hide();
                $("#create_restaurant_submit_button").prop("disabled", false);
                $("#create_restaurant_submit_button").html("Submit")
            });


        });
        $("#create_restaurant_form").submit();
    }
</script>
</body>

</html>
