<!-- Footer -->
<!--<footer class="page-footer text-center text-md-left stylish-color-dark pt-0">-->

<!--    <div style="background-color: #4285f4;">-->

<!--        <div class="container">-->

<!--            &lt;!&ndash; Grid row &ndash;&gt;-->
<!--            <div class="row py-4 d-flex align-items-center">-->

<!--                &lt;!&ndash; Grid column &ndash;&gt;-->
<!--                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">-->

<!--                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>-->

<!--                </div>-->
<!--                &lt;!&ndash; Grid column &ndash;&gt;-->

<!--                &lt;!&ndash; Grid column &ndash;&gt;-->
<!--                <div class="col-md-6 col-lg-7 text-center text-md-right">-->

<!--                    &lt;!&ndash; Facebook &ndash;&gt;-->
<!--                    <a class="fb-ic ml-0 px-2">-->

<!--                        <i class="fab fa-facebook-f white-text"> </i>-->

<!--                    </a>-->

<!--                    &lt;!&ndash; Twitter &ndash;&gt;-->
<!--                    <a class="tw-ic px-2">-->

<!--                        <i class="fab fa-twitter white-text"> </i>-->

<!--                    </a>-->

<!--                    &lt;!&ndash; Google + &ndash;&gt;-->
<!--                    <a class="gplus-ic px-2">-->

<!--                        <i class="fab fa-google-plus-g white-text"> </i>-->

<!--                    </a>-->

<!--                    &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--                    <a class="li-ic px-2">-->

<!--                        <i class="fab fa-linkedin-in white-text"> </i>-->

<!--                    </a>-->

<!--                    &lt;!&ndash; Instagram &ndash;&gt;-->
<!--                    <a class="ins-ic px-2">-->

<!--                        <i class="fab fa-instagram white-text"> </i>-->

<!--                    </a>-->

<!--                </div>-->
<!--                &lt;!&ndash; Grid column &ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash; Grid row &ndash;&gt;-->

<!--        </div>-->

<!--    </div>-->

<!--    &lt;!&ndash; Footer Links &ndash;&gt;-->
<!--    <div class="container mt-5 mb-4 text-center text-md-left">-->

<!--        <div class="row mt-3">-->

<!--            &lt;!&ndash; First column &ndash;&gt;-->
<!--            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">-->

<!--                <h6 class="text-uppercase font-weight-bold">-->

<!--                    <strong>Company name</strong>-->

<!--                </h6>-->

<!--                <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->

<!--                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,-->

<!--                    consectetur-->

<!--                    adipisicing elit.</p>-->

<!--            </div>-->
<!--            &lt;!&ndash; First column &ndash;&gt;-->

<!--            &lt;!&ndash; Second column &ndash;&gt;-->
<!--            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">-->

<!--                <h6 class="text-uppercase font-weight-bold">-->

<!--                    <strong>Products</strong>-->

<!--                </h6>-->

<!--                <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->

<!--                <p>-->

<!--                    <a href="#!">MDBootstrap</a>-->

<!--                </p>-->

<!--                <p>-->

<!--                    <a href="#!">MDWordPress</a>-->

<!--                </p>-->

<!--                <p>-->

<!--                    <a href="#!">BrandFlow</a>-->

<!--                </p>-->

<!--                <p>-->

<!--                    <a href="#!">Bootstrap Angular</a>-->

<!--                </p>-->

<!--            </div>-->
<!--            &lt;!&ndash; Second column &ndash;&gt;-->

<!--            &lt;!&ndash; Third column &ndash;&gt;-->
<!--            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->

<!--                <h6 class="text-uppercase font-weight-bold">-->

<!--                    <strong>Useful links</strong>-->

<!--                </h6>-->

<!--                <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->

<!--                <p>-->

<!--                    <a href="#!">Your Account</a>-->

<!--                </p>-->

<!--                <p>-->

<!--                    <a href="#!">Become an Affiliate</a>-->

<!--                </p>-->

<!--                <p>-->

<!--                    <a href="#!">Shipping Rates</a>-->

<!--                </p>-->

<!--                <p>-->

<!--                    <a href="#!">Help</a>-->

<!--                </p>-->

<!--            </div>-->
<!--            &lt;!&ndash; Third column &ndash;&gt;-->

<!--            &lt;!&ndash; Fourth column &ndash;&gt;-->
<!--            <div class="col-md-4 col-lg-3 col-xl-3">-->

<!--                <h6 class="text-uppercase font-weight-bold">-->

<!--                    <strong>Contact</strong>-->

<!--                </h6>-->

<!--                <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->

<!--                <p>-->

<!--                    <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>-->

<!--                <p>-->

<!--                    <i class="fas fa-envelope mr-3"></i> info@example.com</p>-->

<!--                <p>-->

<!--                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>-->

<!--                <p>-->

<!--                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>-->

<!--            </div>-->
<!--            &lt;!&ndash; Fourth column &ndash;&gt;-->

<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; Footer Links &ndash;&gt;-->

<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="footer-copyright py-3 text-center">-->

<!--        <div class="container-fluid">-->

<!--            © 2019 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>-->

<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
<!-- Footer -->
<!-- Footer -->
<!-- footer class="page-footer font-small  py-4 stylish-color-dark fixed-bottom" -->

<!-- Footer Elements -->
<!-- <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h3 class="font-weight-bold mb-0">Restaurants Collection</h3>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2 text-uppercase">
                    <li>
                        <a class="mx-auto" role="button" href="/restaurant/create">Create</a>
                    </li>
                    <li>
                        <a class="mx-3" role="button">Search</a>
                    </li> -->
<!--                    <li>-->
<!--                        <a class="mx-3" role="button">Rate</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="mx-3" role="button">Search</a>-->
<!--                    </li>-->
<!-- </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled d-flex justify-content-end mb-0 mt-2">
                    <li>
                        <a class="mx-3" role="button"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="mx-3" role="button"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="mx-3" role="button"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div> -->
<!-- Footer Elements -->

<!--/footer-->
<!-- Footer -->

<!--  SCRIPTS  -->
<!-- JQuery -->
<script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/javascripts/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/javascripts/mdb.min.js"></script>

<script type="text/javascript">
    /* WOW.js init */
    new WOW().init();
    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });

    // SideNav Initialization
    $(".button-collapse").sideNav();
    $(function () {
        // $("#modalRegisterForm").on('hide.bs.modal', function(){
        //     location.reload();
        // });
        // $("#modalLoginForm").on('hide.bs.modal', function(){
        //     location.reload();
        // });
    })
    // function success(msg) {
    //     toastr.success(msg);
    // }
    // function alert(msg) {
    //     toastr.error(msg);
    // }
</script>